.DS_Store
.Trashes
*.swp
*.lock
!Podfile.lock
!Pods/Manifest.lock
Pods/
*~.nib
build/
*.pbxuser
*.mode1v3
*.mode2v3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
.bundle/
!Gemfile.lock
*.crt
.idea/
*xcworkspace/xcuserdata/*
